/*全局css*/
*{margin: 0; padding: 0;font-family: "HanHei SC","PingFang SC","Helvetica Neue","Helvetica","STHeitiSC-Light","Arial",sans-serif;}
.clear{ clear:both} 
li{list-style: none;}
a{text-decoration: none;color: #666;}
a:hover{text-decoration:underline; color: #000; }

/*以下是字体图标部分*/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?kkh2sm');
    src:    url('../fonts/icomoon.eot?kkh2sm#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?kkh2sm') format('truetype'),
        url('../fonts/icomoon.woff?kkh2sm') format('woff'),
        url('../fonts/icomoon.svg?kkh2sm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}/*从icoMoon上面下载之后，仅修改了字体链接部分*/

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play1:before {
    content: "\e900";
}
.icon-play1{ position: relative; top: 3px;}

/*定义HanHei SC字体*/
@font-face{
    font-family: 'HanHei SC';
    src:url('../fonts/HanHei-SC-text.woff') format('woff');
    src:url('../fonts/HanHei-SC-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*以下是导航部分*/
#header{margin: 0 auto; height: 44px;background: #333;line-height: 44px;} 
#nav{width: 1030px; margin: 0 auto; }
#logo{float: left;line-height: 44px;background-image: url(../images/logo.svg);width: 20px;height: 44px;}
#nav ul{margin-left: 50px;}
#nav li{display: block;margin: 0 43px;float: left;}
#nav a:hover{opacity: 0.6;transition:0.3s;}

/*以下是banner部分*/
#banner{width: 100%; height: 750px;background: url(../images/cook.jpg) no-repeat;background-size: cover;background-position-y:23%;background-position-x: center;}
#links{ width: 1000px; margin-left: 26%; float: left;margin-top: 250px;}
#title{font-size: 60px;font-weight: 100; color: #fff; }
#view{color: #5cc3f6; text-decoration: none; font-size: 28px; font-weight: 100;margin-left: 10%;margin-top:10px; float: left;}
#links a:hover{color: #fff;}

/*以下是content部分：4张图片；第一行是CSS3属性，动态盒模型:最外侧的div 设置position: relative;然后在html加上 webkit_boxsizing 这个类*/
.webkit_boxsizing{box-sizing: border-box; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box; -ms-box-sizing: border-box;}

#content{max-width: 2560px;margin:0 auto;height:200px;background: #333;border-top: 2px solid #fff;border-bottom: 2px solid #fff;position: relative;}
#content li{width: 25%; height:200px;background-size: 640px 200px;float: left;background-position: center center;}
#box1{background: url(../images/iphone_6s_medium_2x.jpg) no-repeat; border-right: 2px solid #fff;}
#box2{background: url(../images/tradeup_medium_2x.jpg) no-repeat; border-right: 2px solid #fff;}
#box3{background: url(../images/recycling_medium_2x.jpg) no-repeat; border-right: 2px solid #fff;}
#box4{background: url(../images/accessories_medium_2x.jpg) no-repeat; }

/*以下是footer部分*/
#footer{background-color:#f2f2f2;width: 100%;height: 368px;}
#text_content{width: 980px;height: 336px;padding: 32px 22px 0 22px;margin-left: auto;margin-right: auto;font-size: 12px;}
.first_text{color: #333;font-weight: 600;}
.second_text{color:#666;font-weight: 400;}
#text_box1{width: 196px;line-height:1.666667;float: left;}
#text_box2{width: 196px;line-height:1.666667;float: left;}
#text_box3{width: 196px;line-height:1.666667;float: left;}
#text_box4{width: 196px;line-height:1.666667;float: left;}
#text_box5{width: 196px;line-height:1.666667;float: left;}
.text_bottom{color:#999;font-weight: 100;padding: 20px 0 24px;}
.nowrap{color: #08c;text-decoration: none;}
#how_to_buy{padding-bottom: 5px;margin-bottom: 6px;border-bottom: 1px solid #e3e3e3;width: 980px;display: block;}
#bottom_links_all{font-weight: 200;}
.bottom_links{padding-right: 12px;margin-right: 10px;border-right: 1px solid #d6d6d6;}
.bottom_links_end{padding-right: 12px;margin-right: 10px;}
#choose_country{float: right;}
#flag{background-image: url(../images/zh_cn.png);width: 16px;height: 16px;background-size: 16px 16px;float: left;margin-right: 4px;}
#icp{margin-top: 8px;}
#copyright{margin-right: 26px;}